{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <header id="header">
        <h4>{{person_count}} Online</h4>
    </header>

    <section id="main">

        <div class="form">
            {% csrf_token %}
                {% comment %} <span>When entering areas of interest, use: </span><strong>','</strong> {% endcomment %}
                <div class="input-wrapper">
                    <input id="interest-input" class="interests" name="interests" type="text" placeholder="What do you wanna talk about?">
                    <button id="submit-button" type="button"><i class="fa-regular fa-paper-plane"></i></button>
                </div>
            </div>

    </section>


    <section id="chat">
        <div class="wrapper">
            <div class="header">Chat</div>
            <div id="info" class="info"><i class="fa-regular fa-circle-dot"></i>
                <span class='online'>Online</span>
                <span style="display: none" class='writing'>Writing...</span>
            </div>
        <div id="message-screen" class="main">
        </div>
        <div class="message">
            <input id="chat-message-input" type="text" placeholder='Hi, How are u?' oninput="changeInputValue()">
            <button id="chat-message-submit" class="message-button" type="button"><i class="fa-solid fa-share"></i></button>
            <input type="file" name="image" id="image-select" style="display:none">
            <input type="hidden" id="person-id" name="unique-id" value="">
            <button id="chat-image-select" class="image-button" type="button"><i class="fa-solid fa-image"></i></button>
        </div>
    </div>
    </section>

    
    <script src="{% static 'home.js' %}"></script>

</body>
</html>